body {
    margin: 0;
}

form {
    background-color: white;
    padding: 20px;
}

label {
    display: block;
}

input {
    padding: 4px;
    margin: 4px 0;
}

h1, h2 {
    color: black;
}


footer {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
}
